body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 0.4;

}

h3 {
    line-height: 0.4;
    font-weight: 50;
}

/*the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Donate Now Button*/
.anchor_button {

    text-decoration: none;
    background: linear-gradient(45deg, rgba(231, 97, 7, 0.911), rgba(238, 7, 7, 0.966));
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#second_header {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font: bold;
}

.second_div {
    margin-top: 90px;
}

#sh_h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 590;
    font: bold;
}

.box {

    background-color: lightgrey;
    width: 80px;
    padding: 35px;
    margin: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border-style: solid;
    border-color: black;
    background-color: rgba(255, 68, 0, 0.493);

}

input[type=text],
select {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    width: 60%;
    padding: 12px 20px;
    margin: 18px 275px;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;



}

.anchor_button1 {

    text-decoration: none;
    background: linear-gradient(45deg, rgba(231, 97, 7, 0.911), rgba(238, 7, 7, 0.966));
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    left: 590px;
    top: 40px;

    position: relative;
    margin: 18px 0px;
}

.third_header {
    text-align: center;
    position: relative;
    top: 150px;
}

#third_detail {
    font-weight: 100;
    color: grey;
}



.flex-parent2 {
    display: flex;
    justify-content: center;
    align-items: center;



}

.food {
    text-align: justify;
    position: relative;
    top: 180px;
    background-color: rgb(175, 245, 175);
    width: 880px;
    padding: 35px;
    margin: 40px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 10px;

}

.shelter {
    text-align: justify;
    position: relative;
    top: 180px;
    background-color: rgb(245, 220, 175);
    width: 880px;
    padding: 35px;
    margin: 40px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 10px;


}

.education {
    text-align: justify;
    position: relative;
    top: 180px;
    background-color: rgb(201, 223, 241);
    width: 880px;
    padding: 35px;
    margin: 40px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 10px;
}

#fourth_header {
    text-align: center;
}

.flex-parent3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor_button2 {

    text-decoration: none;
    background: linear-gradient(45deg, rgba(231, 97, 7, 0.911), rgba(238, 7, 7, 0.966));
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    left: 5px;
    top: 40px;
    position: relative;
    margin: 18px 0px;
}

.contribution_text {
    text-align: justify;
    position: relative;
    top: 180px;
    margin: 40px;
    font-weight: 400;
    font-size: 20px;

}

.contribution_image {
    position: relative;
    margin: 40px;
    border-radius: 50px;
    top: 220px;
}

#contri_header {
    font-weight: 700;
}