body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 59px;
    line-height: 0.4;

}

h3 {
    line-height: 0.4;
    font-weight: 50;
}

/*the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anchor_button {

    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}